# Ignorar arquivos de configuração sensíveis
.env
docker-compose.yml
Dockerfile

# Ignorar a pasta de migrações do Prisma
prisma/migrations/

# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de build
dist/